.bg-gray {
    background: #afb0b1 !important;
}
.bg-blue {
    background: #89bef5 !important;
}
.bg-gray td, .bg-blue td {
    color: black;
}
.invalid-feedback {
    display: block;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.hr-bottom {
    border-bottom: 1px solid #4f5962;
    padding-bottom: 10px;
}
.bg-user-1 {
    background: #89bef5 !important;
}
.image-preview {
    width: 180px;
    height: auto;
    margin: 10px 0px;
}

.tab-favorites .nav-link.active {
    animation:blinkingText 1.2s infinite;
}
.nav-link.pink {
    background-color: pink;
    margin-right: 5px;
    color: white;
}
.nav-link.pink.active {
    background-color: pink;
}
.nav-link.blue {
    background-color: blue;
    margin-right: 5px;
    color: white;
}
.nav-link.blue.active {
    background-color: blue;
}
.nav-link.orange {
    background-color: orange;
    margin-right: 5px;
    color: white;
}
.nav-link.orange.active {
    background-color: orange;
}
.nav-link.green {
    background-color: green;
    margin-right: 5px;
    color: white;
}
.nav-link.green.active {
    background-color: green;
}
.nav-link.red {
    background-color: red;
    margin-right: 5px;
    color: white;
}
.nav-link.red.active {
    background-color: red;
}
@keyframes blinkingText{
    0%{
        color: #fff;
    }
    49%{
        color: #fff;
    }
    60%{
        color: transparent;
    }
    99%{
        color: transparent;
    }
    100%{
        color: #fff;
    }
}

#tab-1 thead {
    color: pink;
}

#tab-2 thead {
    color: blue;
}

#tab-3 thead {
    color: orange;
}

#tab-4 thead {
    color: green;
}

#tab-5 thead {
    color: red;
}